html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
  width: 100%;
  padding: 0;
}

/* Header and Navigation */
.nav-header {
  display: flex;
  height: 90px;
  width: 100%;
  border-bottom: .125rem solid grey;
}

.logo-header-box {
  width: 18%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-header-box p {
  font-size: .75rem;
}

.logo-header img {
  padding-top: 10px;
  height: 30px;
  width: auto;
}

.nav-central {
  display: flex;
  width: 64%;
  justify-content: center;
}

.nav-central ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.nav-central ul li {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.nav-central ul li a {
  text-decoration: none;
  color: black;
}

.nav-central ul li a:hover {
  text-decoration: none;
  color: #099700;
}

.nav-action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.nav-action-buttons button {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  height: 30px;
  text-align: center;
  line-height: 20px;
  box-shadow: none;
}

.get-started-header {
  background-color: rgba(9, 151, 0, 0.8);
  border-color: rgba(9, 151, 0, 0.8);
  border-radius: 8%;
  text-align: center;
  color: white;
}

.login-header {
  background-color: white;
  border-color: #0CB4E4;
  border-radius: 8%;
}

.get-started-header:hover {
  background-color: #099700;
  border-color: #099700;
}

.login-header:hover {
  background-color: #0CB4E4;
  color: white;
}

/* Banner */
.banner {
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 780px;
  position: relative;
}

.banner h1 {
  position: absolute;
  top: 230px;
  right: 310px;
  color: white;
  text-align: center;
}

.banner p {
  position: absolute;
  top: 300px;
  right: 220px;
  color: white;
  text-align: center;
}

.banner button {
  position: absolute;
  top: 370px;
  right: 370px;
  background-color: #099700;
  border-color: #099700;
  color: white;
  padding: 10px 20px;
  border-radius: 8%;
}

.banner button:hover {
  background-color: rgba(9, 151, 0, 0.8);
  border-color: rgba(9, 151, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 8%;
}

/* Trusted by Merchants */
.trusted-by-merchants {
    padding-bottom: 90px;
}

.trusted-by-merchants h2 {
    text-align: center;
     padding: 20px;
    padding-bottom: 20px;
}

.trusted-merchant-logo-group-1 {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.trusted-merchant-logo-group-2 {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

/* Flexible Payment Options for All Business Types */

.flexible-options {
    padding-bottom: 90px;
}

.flexible-options h2 {
    text-align: center;
    padding: 20px;
    padding-bottom: 20px;
}

.flexible-options-card-title {
    font-weight: bold;
}

.items {
    display: flex;
    align-content: center;
    text-align: center;
}


/* Merchant Solutions */
.merchant-solutions {
    display: flex;
    background-color: ;
    height: 1200px;
    padding-bottom: 90px;
}

.merchant-solutions-icons {
    height: 45px;
    width: 45px;
}

.merchant-solutions a {
    color: rgba(9, 151, 0, 0.8);
}

.merchant-solutions-section-title {
    text-align: start;
    background-color: ;
    display: flex;
    justify-content: center;
    width: 1/3%;
    padding-top: 250px;
}

.merchant-solutions-text {
    background-color: ;
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 300px;
}

/* Merchant Solutions Panel Elements */
.merchant-solutions-panel-elements-title {
    font-weight: bold;
}


/* Merchant Solutions Left Panel */ 
.merchant-solutions-left-panel {
    background-color: ;
    width: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.merchant-solutions-left-panel-item {
    border: ;
    padding: 20px;
    justify-content: space-between;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merchant-solutions-left-panel-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: flex-start;
    border: ;
    width: 70%;
    border-radius: 8%;
    height: 400px;
    padding: 10px 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

.merchant-solutions-left-panel-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: flex-start;
    border: ;
    width: 70%;
    border-radius: 8%;
    height: 400px;
    padding: 10px 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

/* Merchant Solutions Right Panel */
.merchant-solutions-right-panel {
    background-color: ;
     width: 1/3;
     display: flex;
     flex-direction: column;
     justify-content: end;
 }
 
 .merchant-solutions-right-panel-item {
     border: ;
     background-color: ;
     padding: 20px;
     justify-content: space-between;
     height: 450px;
     display: flex;
     align-items: end;
     justify-content: center;
 }

.merchant-solutions-right-panel-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: flex-start;
    border: ;
    width: 70%;
    border-radius: 8%;
    height: 400px;
    padding: 10px 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

.merchant-solutions-right-panel-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: flex-start;
    border: ;
    width: 70%;
    border-radius: 8%;
    height: 400px;
    padding: 10px 20px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5);
}



















